.footer__attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-very-dark-blue);
  font-weight: 700;
}
.footer__attribution a {
  color: var(--clr-dark-cyan);
  font-weight: 700;
}
